/*----------------------------------------------

[Master Stylesheet]

Project:    Baron Power
Version:    1.0
Last change:    27.03.2024
Primary use:    AGT 
Author:   Praveen Maddy

-----------------------------------------------*/
/*----------------------------------------------

[Table of contents]

1. Body
2. Header
3. Main
4. Footer

-----------------------------------------------*/
/*----------------------------------------------

[Fonts]

Base Fonts(Headings & Content) 1 : Roboto, sans-serif;
Icon Fonts                       : Fontawesome 5.15.4

------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: relative;
  font-family: "Roboto", sans-serif;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none !important;
  margin-block-start: 0;
  -ms-margin-block-start: 0;
  -moz-margin-block-start: 0;
  -o-margin-block-start: 0;
  margin-block-end: 0;
  -ms-margin-block-end: 0;
  -moz-margin-block-end: 0;
  -o-margin-block-end: 0;
  padding-inline-start: 0;
  -ms-padding-inline-start: 0;
  -moz-padding-inline-start: 0;
  -o-padding-inline-start: 0;
}

li {
  text-decoration: none !important;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
}

a,
a:link,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

::-ms-expand {
  display: none;
}

::-ms-clear {
  display: none;
}

.justify-content-flex-end {
  justify-content: flex-end;
}

:focus {
  box-shadow: none;
  -ms-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
}

.mx-0-auto {
  margin: 0 auto;
}

.btn.focus,
btn.focus,
.btn:focus,
btn:focus,
button:focus {
  border-color: unset !important;
  outline: none !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  margin: 0;
}

.unstyled {
  -webkit-appearance: none;
  appearance: none;
}

.unstyled::-webkit-inner-spin-button,
.unstyled::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

input:-internal-autofill-selected {
  background-color: transparent;
}

input {
  background-color: transparent;
}

select {
  background-color: transparent;
}
select:focus {
  outline: none;
}

textarea {
  resize: none;
}

.border-less {
  border: 0 !important;
}

.fw-300 {
  font-weight: 300 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.justify-content-space-between {
  justify-content: space-between;
}

.bx-unset {
  box-shadow: unset !important;
}

.bdr-btm-1 {
  border-bottom: 1px solid;
}

.fsz-16 {
  font-size: 16px !important;
}

.bdr-5 {
  border-radius: 5px;
}

.bdr-10 {
  border-radius: 10px !important;
}

.bg-unset {
  background-color: unset;
}

.text-left {
  text-align: left !important;
}

.justify-content-unset {
  justify-content: unset !important;
}

.text-underlined {
  text-decoration: underline;
}

.bg-hash {
  background-color: #f7f7f7;
}

.custom-spacing-bottom {
  padding-bottom: 40px;
}

.custom-spacing {
  padding: 40px 0px;
}

.pb-40 {
  padding-bottom: 40px;
}

/*------------------------------------------------Main-SCSS------------------------------------------------*/
.common-spacing {
  padding-top: 80px;
  padding-bottom: 80px;
}

/*--------------------------------------------------Topbar-------------------------------------------------*/
.topbar {
  padding: 10px 0px;
  background-color: #153450;
}
.topbar .topbar-inn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topbar .topbar-inn .topbar-col-left ul {
  display: flex;
  gap: 0px 15px;
}
.topbar .topbar-inn .topbar-col-left ul li a {
  color: #ddd;
  font-weight: 400;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
.topbar .topbar-inn .topbar-col-left ul li a i {
  padding-right: 5px;
  color: #ffffff;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
.topbar .topbar-inn .topbar-col-left ul li a:hover {
  color: #ff7400;
}
.topbar .topbar-inn .topbar-col-left ul li a:hover i {
  color: #ff7400;
}
.topbar .topbar-inn .topbar-col-right .social-media-icons {
  display: flex;
  gap: 0px 15px;
  align-items: center;
}
.topbar .topbar-inn .topbar-col-right .social-media-icons .career-link {
  position: relative;
}
.topbar .topbar-inn .topbar-col-right .social-media-icons .career-link::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: #ffffff;
}
.topbar .topbar-inn .topbar-col-right .social-media-icons .career-link a {
  color: #ddd;
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  margin-right: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.topbar .topbar-inn .topbar-col-right .social-media-icons .career-link a:hover {
  color: #ff7400;
}
.topbar .topbar-inn .topbar-col-right .social-media-icons li a {
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
.topbar .topbar-inn .topbar-col-right .social-media-icons li a i {
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  color: #ffffff;
}
.topbar .topbar-inn .topbar-col-right .social-media-icons li a:hover i {
  color: #ff7400;
}

/*--------------------------------------------------Header--------------------------------------------------*/
header {
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
}
header .navbar {
  background-color: #ffffff;
  padding: 20px 0px;
}
header .navbar .custom-navbar {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
header .navbar .custom-navbar .quote-btn {
  color: #153450;
  border: 2px solid #153450;
  padding: 10px 15px;
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 15px;
  margin-top: 0;
  transition: ease 0.3s;
  box-shadow: inset 0 0 1px 0 #153450;
  cursor: pointer;
}
header .navbar .custom-navbar .quote-btn:hover {
  color: #fff;
  box-shadow: inset 400px 0px 0px 0px #153450;
}
header .navbar .container {
  padding: 0px 15px;
}
header .navbar .navbar-nav .nav-item .nav-link {
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
  color: #3f3e3e;
  text-transform: uppercase;
  padding: 0;
  padding-right: 20px;
}
header .navbar .navbar-nav .nav-item .nav-link:hover {
  color: #ff7400;
}
header .navbar .navbar-nav .nav-item:last-child .nav-link {
  padding-right: 0;
}
header .nav-item.dropdown > .navbar-nav .nav-item .nav-link {
  padding: 0px;
  color: #999;
  font-weight: 500;
  font-size: 15px;
}
header .nav-item .caret {
  border-top-color: #153450;
}
header .nav-item.active .caret, header .nav-item:hover .caret {
  border-top-color: #153450;
}
header .nav-item.dropdown > .navbar-nav {
  width: max-content;
  padding: 20px;
}
header .navbar-toggler.toggler-spring.active .navbar-toggler-icon {
  background-image: none;
}
header .nav-item.dropdown.fadeup > .navbar-nav.in {
  box-shadow: 0 0 37px rgba(0, 0, 0, 0.07);
}
header .nav-item.dropdown > .navbar-nav .nav-item {
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  padding-bottom: 15px;
}
header .nav-item.dropdown > .navbar-nav .nav-item:last-child {
  padding-bottom: 0;
}
header .nav-item.dropdown > .navbar-nav .nav-item:last-child .nav-link {
  border: 0;
}
header .nav-item.dropdown > .navbar-nav .nav-item .nav-link {
  text-transform: capitalize;
}
header .nav-item.dropdown > .navbar-nav .nav-item:hover .nav-link {
  color: #ff7400;
}
header .nav-item .caret {
  margin-left: 2px;
}
header .bsnav-sticky.bsnav-sticky-slide.sticked.in {
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
}
header .bsnav-sticky.bsnav-sticky-slide.sticked {
  top: 0;
}
header .navbar-toggler:focus {
  box-shadow: none !important;
}
header .nav-item.dropdown .navbar-nav.in .nav-item .nav-link {
  color: #999;
}
header .nav-item.dropdown .navbar-nav.in .nav-item .nav-link:hover {
  color: #ff7400;
}

/*--------------------------------------------------Banner--------------------------------------------------*/
.home-banner .swiper {
  width: 100%;
  height: 100%;
}
.home-banner .swiper .swiper-slide {
  height: auto;
}
.home-banner .swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-banner .swiper-pagination-bullet {
  background-color: #f7f7f7 !important;
}

/*--------------------------------------------------Home-Products--------------------------------------------------*/
.home-products .product-title {
  padding-bottom: 50px;
}
.home-products .product-title .row {
  align-items: flex-end;
}
.home-products .product-title h4 {
  font-size: 15px;
  line-height: 23px;
  font-weight: 700;
  text-transform: uppercase;
  color: #888;
  letter-spacing: 2px;
  padding-bottom: 20px;
}
.home-products .product-title h2 {
  text-align: left;
  font-size: 40px;
  line-height: 54px;
  font-weight: 700;
  color: #222;
  position: relative;
  padding-bottom: 20px;
}
.home-products .product-title h2::before {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background-color: #ff7400;
  position: absolute;
  left: 0;
  bottom: 0;
}
.home-products .product-title p {
  font-size: 18px;
  color: #888;
  padding-bottom: 20px;
}
.home-products .product-title p:last-child {
  padding-bottom: 0;
}
.home-products .home-products-card {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
.home-products .home-products-card .image img {
  width: 100%;
}
.home-products .home-products-card .context {
  background-color: #ffffff;
  padding: 20px;
  border-bottom: 1px solid #eee;
}
.home-products .home-products-card .context h3 {
  font-size: 23px;
  line-height: 30px;
  font-weight: 700;
  color: #222;
  padding-bottom: 15px;
}
.home-products .home-products-card .context p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #888;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
}
.home-products .home-products-card .link {
  background-color: #ffffff;
  transition: all 0.3s linear;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  background-color: transparent;
  z-index: 5;
}
.home-products .home-products-card .link::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background-color: #ff7400;
  transition: all 0.3s ease-in-out;
  z-index: -1;
}
.home-products .home-products-card .link:hover {
  color: white;
}
.home-products .home-products-card .link:hover::after {
  width: 100%;
  transition: all 0.3s ease-in-out;
  left: 0;
  background-color: #ff7400;
}
.home-products .home-products-card .link:hover a ul li i {
  color: #222;
}
.home-products .home-products-card .link a {
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px;
  display: block;
}
.home-products .home-products-card .link a ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-products .home-products-card .link a ul li {
  color: #222;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}
.home-products .home-products-card .link a ul i {
  color: #ff7400;
}
.home-products .home-products-card:hover {
  transform: translateY(-10px);
}

/*--------------------------------------------------Home-About--------------------------------------------------*/
.home-about {
  background-color: #f7f7f7;
}
.home-about h2 {
  text-align: left;
  font-size: 40px;
  line-height: 54px;
  font-weight: 700;
  color: #222;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.home-about h2::before {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background-color: #ff7400;
  position: absolute;
  left: 0;
  bottom: 0;
}
.home-about .home-about-content h5 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  padding-bottom: 10px;
}
.home-about .home-about-content p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  padding-bottom: 10px;
  color: #888;
}
.home-about .home-about-content p:last-child {
  padding-bottom: 0;
}
.home-about .col-left p {
  padding-bottom: 0;
}

/*--------------------------------------------------Home-Testimonial--------------------------------------------------*/
.home-testimonial h2 {
  text-align: left;
  font-size: 40px;
  line-height: 54px;
  font-weight: 700;
  color: #222;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 50px;
}
.home-testimonial h2::before {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background-color: #ff7400;
  position: absolute;
  left: 0;
  bottom: 0;
}
.home-testimonial .swiper {
  margin-top: 0px;
  padding-bottom: 60px;
}
.home-testimonial .swiper .swiper-wrapper {
  margin-bottom: 30px;
}
.home-testimonial .swiper .swiper-wrapper .swiper-slide .testimonial-card {
  background-color: #f7f7f7;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.05);
  padding: 20px;
  position: relative;
  display: flex;
  gap: 0px 30px;
}
.home-testimonial .swiper .swiper-wrapper .swiper-slide .testimonial-card .image {
  flex-shrink: 0;
}
.home-testimonial .swiper .swiper-wrapper .swiper-slide .testimonial-card .image img {
  width: 70px;
  height: 70px;
}
.home-testimonial .swiper .swiper-wrapper .swiper-slide .testimonial-card .context h3 {
  font-size: 20px;
  line-height: 28px;
  color: #222;
  font-weight: 700;
  padding-bottom: 10px;
}
.home-testimonial .swiper .swiper-wrapper .swiper-slide .testimonial-card .context p {
  font-size: 15px;
  line-height: 23px;
  color: #888;
}
.home-testimonial .swiper .swiper-wrapper .swiper-slide .testimonial-card::before {
  position: absolute;
  content: "";
  bottom: -35px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 35px 35px 0 0;
  border-color: #f7f7f7 transparent transparent;
}
.home-testimonial .swiper-button-prev {
  top: 30px;
  right: 25px;
  left: auto;
}
.home-testimonial .swiper-button-prev::after {
  font-size: 18px;
  font-weight: 700;
  color: #222;
}
.home-testimonial .swiper-button-next {
  top: 30px;
  right: 0px;
  left: auto;
}
.home-testimonial .swiper-button-next::after {
  font-size: 18px;
  font-weight: 700;
  color: #222;
}
.home-testimonial .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}
.home-testimonial .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #153450;
}

/*--------------------------------------------------Home-Partners-----------------------------------------------------*/
.home-partners h2 {
  text-align: left;
  font-size: 40px;
  line-height: 54px;
  font-weight: 700;
  color: #222;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 50px;
}
.home-partners h2::before {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background-color: #ff7400;
  position: absolute;
  left: 0;
  bottom: 0;
}
.home-partners .swiper .swiper-wrapper {
  display: flex;
  align-items: center;
}
.home-partners .swiper .swiper-wrapper .swiper-slide img {
  margin-inline: auto;
  display: block;
}

/*--------------------------------------------------Footer-----------------------------------------------------*/
footer {
  background-color: #153450;
  padding-top: 50px;
  padding-bottom: 50px;
}
footer .footer-logo-content {
  padding-bottom: 20px;
}
footer .footer-logo-content img {
  margin-bottom: 15px;
}
footer .footer-logo-content p {
  font-size: 15px;
  line-height: 23px;
  font-weight: 400;
  color: #ddd;
}
footer .footer-social-media ul {
  display: flex;
  gap: 0px 15px;
  align-items: center;
}
footer .footer-social-media ul li a {
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
footer .footer-social-media ul li a i {
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  color: #ffffff;
}
footer .footer-social-media ul li a:hover i {
  color: #ff7400;
}
footer .usefull-links {
  margin: 0 auto;
  display: table;
}
footer .usefull-links h3 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 20px;
  letter-spacing: 0.5px;
}
footer .usefull-links ul li {
  padding-bottom: 5px;
}
footer .usefull-links ul li a {
  font-size: 15px;
  line-height: 23px;
  font-weight: 400;
  color: #ddd;
}
footer .usefull-links ul li:last-child {
  padding-bottom: 0;
}

.footer-bottom {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #515151;
  background-color: #153450;
}
.footer-bottom ul {
  display: flex;
  justify-content: space-between;
}
.footer-bottom ul li {
  color: #ffffff;
  font-size: 15px;
  line-height: 23px;
}

/*--------------------------------------------------Breadcrumb-----------------------------------------------------*/
.custom-breadcrumb {
  padding: 80px 0px;
  background-image: url(../images/breadcrumb.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 5;
}
.custom-breadcrumb::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}
.custom-breadcrumb ul li:first-child {
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  color: #ffffff;
  padding-bottom: 10px;
}
.custom-breadcrumb ul li:last-child {
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 1.26;
  text-transform: uppercase;
  color: #ffffff;
}

/*--------------------------------------------------About-Page-----------------------------------------------------*/
.about h2 {
  text-align: left;
  font-size: 40px;
  line-height: 54px;
  font-weight: 700;
  color: #222;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.about h2::before {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background-color: #ff7400;
  position: absolute;
  left: 0;
  bottom: 0;
}
.about .about-content p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  padding-bottom: 10px;
  color: #888;
}
.about .about-content p:last-child {
  padding-bottom: 0;
}

/*--------------------------------------------------Mission-----------------------------------------------------*/
.mission {
  background-color: #f7f7f7;
}
.mission .row {
  align-items: center;
}
.mission img {
  width: 70%;
  margin: 0 auto;
  display: block;
}
.mission h2 {
  text-align: left;
  font-size: 40px;
  line-height: 54px;
  font-weight: 700;
  color: #222;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.mission h2::before {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background-color: #ff7400;
  position: absolute;
  left: 0;
  bottom: 0;
}
.mission p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  padding-bottom: 10px;
  color: #888;
}
.mission p:last-child {
  padding-bottom: 0;
}
.mission p b {
  color: #222;
}

/*------------------------------------------------White-Papers-----------------------------------------------------*/
.white-papers h2 {
  text-align: left;
  font-size: 40px;
  line-height: 54px;
  font-weight: 700;
  color: #222;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.white-papers h2::before {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background-color: #ff7400;
  position: absolute;
  left: 0;
  bottom: 0;
}
.white-papers p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  padding-bottom: 15px;
  color: #888;
}
.white-papers ul li {
  padding-left: 25px;
  padding-bottom: 5px;
  position: relative;
}
.white-papers ul li::before {
  position: absolute;
  content: "\f8d9";
  font-family: "Font Awesome 5 Pro";
  top: 1px;
  left: 0;
  width: 10px;
  height: 10px;
  font-size: 16px;
  color: #ff7400;
}
.white-papers ul li a {
  color: #888;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
.white-papers ul li a i {
  padding-left: 5px;
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
}
.white-papers ul li a:hover {
  color: #222;
}
.white-papers ul li a:hover i {
  transform: translateX(10px);
}

/*-----------------------------------------Products-Systems-Services----------------------------------------------------*/
.products-systems-services h2 {
  text-align: left;
  font-size: 40px;
  line-height: 54px;
  font-weight: 700;
  color: #222;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.products-systems-services h2::before {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background-color: #ff7400;
  position: absolute;
  left: 0;
  bottom: 0;
}
.products-systems-services p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  padding-bottom: 15px;
  color: #888;
}
.products-systems-services p:last-child {
  padding-bottom: 0;
}
.products-systems-services p b {
  color: #222;
}
.products-systems-services h3 {
  font-size: 23px;
  line-height: 30px;
  font-weight: 700;
  color: #222;
  padding-bottom: 12px;
}
.products-systems-services h4 {
  font-size: 26px;
  line-height: 34px;
  font-weight: 700;
  color: #222;
  padding-bottom: 12px;
  margin-bottom: 20px;
  position: relative;
}
.products-systems-services h4::before {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background-color: #ff7400;
  position: absolute;
  left: 0;
  bottom: 0;
}
.products-systems-services ul {
  padding-bottom: 15px;
}
.products-systems-services ul li {
  padding-left: 25px;
  padding-bottom: 5px;
  position: relative;
  color: #888;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
.products-systems-services ul li::before {
  position: absolute;
  content: "\f8d9";
  font-family: "Font Awesome 5 Pro";
  top: 1px;
  left: 0;
  width: 10px;
  height: 10px;
  font-size: 16px;
  color: #ff7400;
}
.products-systems-services img {
  margin: 0 auto;
  display: block;
}
.products-systems-services table {
  background-color: transparent;
  margin-bottom: 0;
}
.products-systems-services table tr {
  border: 1px solid #ccc;
}
.products-systems-services table tr td {
  background-color: transparent;
}
.products-systems-services table tr td:first-child {
  border-right: 1px solid #ccc;
}
.products-systems-services table tr td[colspan] {
  border-right: 0px;
  background-color: #f7f7f7;
}
.products-systems-services .bg-hash table tr td {
  background-color: #ececec;
}
.products-systems-services .bg-hash table tr td[colspan] {
  background-color: #ffffff;
}

/*------------------------------------------------Partners---------------------------------------------------------*/
.partners h2 {
  text-align: left;
  font-size: 40px;
  line-height: 54px;
  font-weight: 700;
  color: #222;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.partners h2::before {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background-color: #ff7400;
  position: absolute;
  left: 0;
  bottom: 0;
}
.partners p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  padding-bottom: 15px;
  color: #888;
}
.partners p:last-child {
  padding-bottom: 0;
}
.partners p b {
  color: #222;
}
.partners .partners-card {
  margin-bottom: 50px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  padding: 20px;
}
.partners .partners-card .image {
  margin-bottom: 10px;
}
.partners .partners-card .context {
  background-color: #ffffff;
}
.partners .partners-card .context h3 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  color: #222;
  padding-bottom: 10px;
}
.partners .partners-card .context p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #888;
  padding-bottom: 5px;
}
.partners .partners-card span {
  display: flex;
  color: #333;
  font-weight: 700;
}
.partners .partners-card span a {
  font-size: 16px;
  font-weight: 600;
  display: block;
  color: #153450;
  margin-left: 5px;
}
.partners .partners-card:hover {
  transform: translateY(-10px);
}

/*---------------------------------------------Contact-Details----------------------------------------------------*/
.contact-details h3 {
  font-size: 30px;
  line-height: 38px;
  font-weight: 700;
  padding-bottom: 15px;
  color: #3f3e3e;
  text-transform: uppercase;
}
.contact-details .col-lg-4 {
  margin-bottom: 20px;
}
.contact-details .contact-details-inn {
  padding-bottom: 30px;
}
.contact-details .contact-details-inn h3 {
  font-size: 30px;
  line-height: 38px;
  text-transform: capitalize;
  font-weight: 700;
  padding-bottom: 15px;
  color: #222;
}
.contact-details .contact-details-inn .contact-details-inn-inn {
  padding: 20px;
  background-color: #f7f7f7;
  height: 100%;
  margin-inline: auto;
  word-wrap: break-word;
}
.contact-details .contact-details-inn .contact-details-inn-inn h4 {
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
  color: #3f3e3e;
  padding-bottom: 10px;
}
.contact-details .contact-details-inn .contact-details-inn-inn ul li {
  padding-bottom: 5px;
}
.contact-details .contact-details-inn .contact-details-inn-inn ul li a {
  color: #3f3e3e;
}
.contact-details .contact-details-inn .contact-details-inn-inn ul li a i {
  padding-right: 5px;
}
.contact-details .contact-details-inn .contact-details-inn-inn ul li:last-child {
  padding-bottom: 0;
}
.contact-details .contact-details-unit {
  background-color: #3f3e3e;
  padding: 20px;
  margin-bottom: 20px;
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
}
.contact-details .contact-details-unit h3 {
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 5px;
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
}
.contact-details .contact-details-unit p {
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 300;
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
}
.contact-details .contact-details-unit:hover {
  transform: translateY(-15px);
  background-color: #ff7400;
}
.contact-details .contact-details-unit:hover h3 {
  color: #ffffff;
}
.contact-details .contact-details-unit:hover p {
  color: #ffffff;
}

/*---------------------------------------------Enquiry-Modal----------------------------------------------------*/
.enquiry-modal .modal-content .modal-header {
  justify-content: flex-end;
}
.enquiry-modal .modal-content .modal-header button {
  border: 0;
  background: none;
  font-size: 24px;
  line-height: 30px;
}
.enquiry-modal .modal-content .modal-header button:focus {
  box-shadow: none;
}
.enquiry-modal .modal-content .gform_validation_errors {
  display: none;
}
.enquiry-modal .modal-content .gform_heading .gform_title {
  padding-bottom: 15px;
  font-weight: 600;
  display: none;
}
.enquiry-modal .modal-content .gform-theme--foundation .gform_fields {
  row-gap: 16px;
}
.enquiry-modal .modal-content .gform-theme--framework .gfield_list_group_item::before, .enquiry-modal .modal-content .gform-theme--framework .gform-field-label {
  font-size: 16px;
  font-weight: 600;
  color: #000;
}
.enquiry-modal .modal-content .gform-theme--foundation .gfield textarea.small {
  height: 60px;
  min-block-size: 1rem;
}
.enquiry-modal .modal-content .gform-theme--foundation .gfield .ginput_password.large:focus, .enquiry-modal .modal-content .gform-theme--foundation .gfield input.large:focus, .enquiry-modal .modal-content .gform-theme--foundation .gfield select.large:focus {
  box-shadow: none;
  border-color: #3f3e3e;
}
.enquiry-modal .modal-content .gform-theme--foundation .gfield textarea.small:focus {
  box-shadow: none;
  border-color: #3f3e3e;
}
.enquiry-modal .modal-content .gform-theme--framework .gfield:where(.gfield--type-multiselect, .gfield--input-type-multiselect) .chosen-container-multi:where(:not(.gform-theme__disable):not(.gform-theme__disable *):not(.gform-theme__disable-framework):not(.gform-theme__disable-framework *)), .enquiry-modal .modal-content .gform-theme--framework .gfield:where(.gfield--type-select, .gfield--input-type-select) .chosen-search input[type=text]:where(:not(.gform-theme__disable):not(.gform-theme__disable *):not(.gform-theme__disable-framework):not(.gform-theme__disable-framework *)), .enquiry-modal .modal-content .gform-theme--framework .gfield:where(.gfield--type-select, .gfield--input-type-select) .chosen-single:where(:not(.gform-theme__disable):not(.gform-theme__disable *):not(.gform-theme__disable-framework):not(.gform-theme__disable-framework *)), .enquiry-modal .modal-content .gform-theme--framework .gform-theme-field-control:where(:not(.gform-theme__disable):not(.gform-theme__disable *):not(.gform-theme__disable-framework):not(.gform-theme__disable-framework *)), .enquiry-modal .modal-content .gform-theme--framework input[type]:where(:not(.gform-text-input-reset):not([type=hidden])):where(:not(.gform-theme__disable):not(.gform-theme__disable *):not(.gform-theme__disable-framework):not(.gform-theme__disable-framework *)), .enquiry-modal .modal-content .gform-theme--framework select:where(:not(.gform-theme__disable):not(.gform-theme__disable *):not(.gform-theme__disable-framework):not(.gform-theme__disable-framework *)), .enquiry-modal .modal-content .gform-theme--framework select[multiple]:where(:not(.gform-theme__disable):not(.gform-theme__disable *):not(.gform-theme__disable-framework):not(.gform-theme__disable-framework *)), .enquiry-modal .modal-content .gform-theme--framework textarea:where(:not(.gform-theme__disable):not(.gform-theme__disable *):not(.gform-theme__disable-framework):not(.gform-theme__disable-framework *)), .enquiry-modal .modal-content .gform-theme--framework.gform-theme.gform_wrapper .button:where(:not(.gform-theme-no-framework)):where(:not(.gform-theme__disable):not(.gform-theme__disable *):not(.gform-theme__disable-framework):not(.gform-theme__disable-framework *)), .enquiry-modal .modal-content .gform-theme--framework.gform-theme.gform_wrapper .gform-theme-button:where(:not(.gform-theme-no-framework)):where(:not(.gform-theme__disable):not(.gform-theme__disable *):not(.gform-theme__disable-framework):not(.gform-theme__disable-framework *)), .enquiry-modal .modal-content .gform-theme--framework.gform-theme.gform_wrapper :where(:not(.mce-splitbtn)) > button:not([id*=mceu_]):not(.mce-open):where(:not(.gform-theme-no-framework)):where(:not(.gform-theme__disable):not(.gform-theme__disable *):not(.gform-theme__disable-framework):not(.gform-theme__disable-framework *)), .enquiry-modal .modal-content .gform-theme--framework.gform-theme.gform_wrapper button.button:where(:not(.gform-theme-no-framework)):where(:not(.gform-theme__disable):not(.gform-theme__disable *):not(.gform-theme__disable-framework):not(.gform-theme__disable-framework *)), .enquiry-modal .modal-content .gform-theme--framework.gform-theme.gform_wrapper input:is([type=submit], [type=button], [type=reset]).button:where(:not(.gform-theme-no-framework)):where(:not(.gform-theme__disable):not(.gform-theme__disable *):not(.gform-theme__disable-framework):not(.gform-theme__disable-framework *)), .enquiry-modal .modal-content .gform-theme--framework.gform-theme.gform_wrapper input:is([type=submit], [type=button], [type=reset]):where(:not(.gform-theme-no-framework)):where(:not(.gform-theme__disable):not(.gform-theme__disable *):not(.gform-theme__disable-framework):not(.gform-theme__disable-framework *)), .enquiry-modal .modal-content .gform-theme--framework.gform-theme.gform_wrapper input[type=submit].button.gform_button:where(:not(.gform-theme-no-framework)):where(:not(.gform-theme__disable):not(.gform-theme__disable *):not(.gform-theme__disable-framework):not(.gform-theme__disable-framework *)) {
  box-shadow: none;
  border-color: #3f3e3e;
}
.enquiry-modal .modal-content .gform-theme.gform-theme--framework.gform_wrapper .button:where(:not(.gform-theme-no-framework):not(.gform-theme__disable):not(.gform-theme__disable *):not(.gform-theme__disable-framework):not(.gform-theme__disable-framework *)), .enquiry-modal .modal-content .gform-theme.gform-theme--framework.gform_wrapper .gform-theme-button:where(:not(.gform-theme-no-framework):not(.gform-theme__disable):not(.gform-theme__disable *):not(.gform-theme__disable-framework):not(.gform-theme__disable-framework *)), .enquiry-modal .modal-content .gform-theme.gform-theme--framework.gform_wrapper :where(:not(.mce-splitbtn)) > button:not([id*=mceu_]):not(.mce-open):where(:not(.gform-theme-no-framework):not(.gform-theme__disable):not(.gform-theme__disable *):not(.gform-theme__disable-framework):not(.gform-theme__disable-framework *)), .enquiry-modal .modal-content .gform-theme.gform-theme--framework.gform_wrapper button.button:where(:not(.gform-theme-no-framework):not(.gform-theme__disable):not(.gform-theme__disable *):not(.gform-theme__disable-framework):not(.gform-theme__disable-framework *)), .enquiry-modal .modal-content .gform-theme.gform-theme--framework.gform_wrapper input:is([type=submit], [type=button], [type=reset]).button:where(:not(.gform-theme-no-framework):not(.gform-theme__disable):not(.gform-theme__disable *):not(.gform-theme__disable-framework):not(.gform-theme__disable-framework *)), .enquiry-modal .modal-content .gform-theme.gform-theme--framework.gform_wrapper input:is([type=submit], [type=button], [type=reset]):where(:not(.gform-theme-no-framework):not(.gform-theme__disable):not(.gform-theme__disable *):not(.gform-theme__disable-framework):not(.gform-theme__disable-framework *)), .enquiry-modal .modal-content .gform-theme.gform-theme--framework.gform_wrapper input[type=submit].button.gform_button:where(:not(.gform-theme-no-framework):not(.gform-theme__disable):not(.gform-theme__disable *):not(.gform-theme__disable-framework):not(.gform-theme__disable-framework *)) {
  padding: 10px;
  background-color: #efefef;
  box-shadow: none;
  color: #000;
}
.enquiry-modal .modal-content .gform_button.button {
  background-color: #18344f;
  color: #fff;
  padding: 12px 25px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
}

/*---------------------------------------------Media-Queries----------------------------------------------------*/
@media (min-width: 1200px) {
  .custom-card {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .ptb-xl-90 {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .mtb-xl-90 {
    margin-top: 90px;
    margin-bottom: 90px;
  }
}
/*--only screen and (min-width: 1200px) and (max-width: 1400px)--*/
/*--only screen and (min-width: 992px) and (max-width: 1200px)--*/
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .common-spacing {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  footer {
    padding-top: 70px;
  }
  .ptb-lg-80 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .mtb-lg-80 {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}
/*--only screen and (min-width: 768px) and (max-width: 992px)--*/
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .common-spacing {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  footer {
    padding-top: 60px;
  }
  .ptb-md-70 {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .mtb-md-70 {
    margin-top: 70px;
    margin-bottom: 70px;
  }
}
/*--only screen and (min-width: 576px) and (max-width: 768px)--*/
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .common-spacing {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  footer {
    padding-top: 50px;
  }
  .ptb-sm-50 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .mtb-sm-50 {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
/*--only screen and (max-width: 576px)--*/
@media only screen and (max-width: 576px) {
  .common-spacing {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  footer {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .ptb-xs-30 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .mtb-xs-30 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
/*--max-width: < 1400px--*/
/*--max-width: < 1200px--*/
/*--max-width: < 992px--*/
@media (max-width: 992px) {
  header .navbar .custom-navbar .custom-menubar {
    order: 3;
  }
  header .navbar .custom-navbar .quote-btn {
    order: 2;
    padding: 5px 12px;
    font-size: 12px;
  }
  .custom-order-md-1 {
    order: 1 !important;
  }
  .custom-order-md-2 {
    order: 2 !important;
  }
  .pad-btm-lg-0 {
    padding-bottom: 0 !important;
  }
  .mar-btm-lg-0 {
    margin-bottom: 0 !important;
  }
  .home-products .product-title {
    padding-bottom: 30px;
  }
  .home-products .product-title h2 {
    margin-bottom: 20px;
  }
  .home-products .home-products-card {
    margin-bottom: 30px;
  }
  .home-about .col-left p {
    padding-bottom: 10px !important;
  }
  .about .col-left p:last-child {
    padding-bottom: 10px !important;
  }
  .mission img {
    width: 100%;
  }
  .products-systems-services img {
    margin-bottom: 20px;
  }
}
/*--max-width: < 768px--*/
@media (max-width: 768px) {
  .custom-order-sm-1 {
    order: 1 !important;
  }
  .custom-order-sm-2 {
    order: 2 !important;
  }
  .pad-btm-md-0 {
    padding-bottom: 0 !important;
  }
  .mar-btm-md-0 {
    margin-bottom: 0 !important;
  }
  .home-products .product-title h2 {
    font-size: 36px;
    line-height: 44px;
  }
  .home-products .home-products-card {
    margin-bottom: 30px;
  }
  .home-about h2 {
    font-size: 36px;
    line-height: 44px;
  }
  .home-testimonial h2 {
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 30px;
  }
  .home-testimonial .swiper .swiper-wrapper {
    margin-bottom: 0;
  }
  .home-partners h2 {
    font-size: 36px;
    line-height: 44px;
  }
  .custom-breadcrumb ul li:first-child {
    font-size: 36px;
    line-height: 44px;
  }
  .about h2 {
    font-size: 36px;
    line-height: 44px;
  }
  .mission img {
    margin-bottom: 30px;
  }
  .mission h2 {
    font-size: 36px;
    line-height: 44px;
  }
  .white-papers h2 {
    font-size: 36px;
    line-height: 44px;
  }
  .products-systems-services h2 {
    font-size: 36px;
    line-height: 44px;
  }
  .partners h2 {
    font-size: 36px;
    line-height: 44px;
  }
  .partners .partners-card {
    margin-bottom: 20px;
  }
  .contact-details .contact-details-inn {
    padding-bottom: 0;
  }
  .contact-details .contact-details-inn h3 {
    font-size: 26px;
    line-height: 34px;
  }
}
/*--max-width: < 576px--*/
@media (max-width: 576px) {
  .custom-order-xs-1 {
    order: 1 !important;
  }
  .custom-order-xs-2 {
    order: 2 !important;
  }
  .pad-btm-sm-0 {
    padding-bottom: 0 !important;
  }
  .mar-btm-sm-0 {
    margin-bottom: 0 !important;
  }
  .topbar .topbar-inn {
    display: block;
    text-align: center;
  }
  .topbar .topbar-inn .topbar-col-left ul {
    display: block;
  }
  .topbar .topbar-inn .topbar-col-right .social-media-icons {
    justify-content: center;
  }
  .home-products .product-title h2 {
    font-size: 32px;
    line-height: 40px;
  }
  .home-products .home-products-card .context h3 {
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 10px;
  }
  .home-about h2 {
    font-size: 32px;
    line-height: 40px;
  }
  .home-testimonial h2 {
    font-size: 32px;
    line-height: 40px;
  }
  .home-partners h2 {
    font-size: 32px;
    line-height: 40px;
  }
  footer .usefull-links {
    padding-top: 20px;
    margin: unset;
    display: block;
  }
  footer .usefull-links h3 {
    padding-bottom: 10px;
  }
  .footer-bottom ul {
    display: block;
  }
  .footer-bottom ul li {
    text-align: center;
  }
  .custom-breadcrumb ul {
    display: block;
  }
  .custom-breadcrumb ul li:first-child {
    padding-bottom: 10px;
    font-size: 32px;
    line-height: 40px;
  }
  .about h2 {
    font-size: 32px;
    line-height: 40px;
  }
  .mission h2 {
    font-size: 32px;
    line-height: 40px;
  }
  .white-papers h2 {
    font-size: 32px;
    line-height: 40px;
  }
  .products-systems-services h2 {
    font-size: 26px;
    line-height: 34px;
  }
  .partners h2 {
    font-size: 32px;
    line-height: 40px;
  }
}

/*# sourceMappingURL=main.css.map */
