:root{
    --primaryColor:#ff7400;
}

/* header */


.header .item-left {
    flex: 0 0 17%;
    padding: 0;
}

.header .logo a {
    font-size: 30px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
}

.header .item-center {
    flex: 0 0 66%;
}

.header .item-right {
    flex: 0 0 17%;
    display: flex;
    justify-content: flex-end;
}

.header .item-right a {
    text-decoration: none;
    font-size: 16px;
    color: #555555;
    display: inline-block;
    margin-left: 10px;
    transition: color 0.3s ease;
}

.header .menu #access>ul>li {
    display: inline-block;
    line-height: 50px;
    padding-left: 15px;
    cursor: pointer;
}

.header .menu #access>ul>li:last-child{
    padding-right: 0;
}

.header .menu #access>ul>li>a {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #3f3e3e;
    position: relative;
    transition: color 0.3s ease;
}

.header .menu #access>ul>li .sub-menu {
    position: absolute;
    z-index: 500;
    background-color: #ffffff;
    box-shadow: -2px 2px 70px -25px rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease;
    margin-top: 25px;
    opacity: 0;
    visibility: hidden;
}

@media (min-width: 992px) {
    .header .menu #access>ul>li.menu-item-has-children:hover .sub-menu {
        margin-top: 0;
        visibility: visible;
        opacity: 1;
    }
}

.header .menu #access>ul>li .sub-menu>ul>li {
    line-height: 1;
}

.header .menu #access>ul>li .sub-menu>ul>li>a {
    display: inline-block;
    padding: 10px 0;
    font-size: 15px;
    color: #555555;
    transition: color 0.3s ease;
    text-decoration: none;
    text-transform: capitalize;
}

.header .menu #access>ul>li .single-column-menu {
    min-width: 280px;
    max-width: 350px;
}

.header .menu #access>ul>li .sub-menu.mega-menu>.list-item>ul>li {
    line-height: 1;
    display: block;
}

.header .menu>#access>ul>li .sub-menu.mega-menu>.list-item>ul>li>a {
    padding: 10px 0;
    display: inline-block;
    font-size: 15px;
    color: #555555;
    transition: color 0.3s ease;
}

.header .menu #access>ul>li .sub-menu.mega-menu {
    left: 50%;
    transform: translateX(-50%);
}

.header .menu #access>ul>li .sub-menu.mega-menu-column-4 {
    max-width: 1100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 15px;
}

.header .menu #access>ul>li .sub-menu.mega-menu-column-4>.list-item {
    flex: 0 0 25%;
    padding: 0 15px;
}

.header .menu>#access>ul>li .sub-menu.mega-menu-column-4>.list-item .title {
    font-size: 16px;
    color: #ea4636;
    font-weight: 500;
    line-height: 1;
    padding: 10px 0;
}

button.sub-menu-toggle {
    display: none;
}

.header .menu>#access>ul>li .sub-menu.mega-menu-column-4>.list-item.text-center .title {
    text-align: center;
}

.header .menu>#access>ul>li .sub-menu.mega-menu-column-4>.list-item img {
    max-width: 100%;
    width: 100%;
    vertical-align: middle;
    margin-top: 10px;
    height: 300px;
    object-fit: cover;
}

.header .menu #access>ul>li.menu-item-has-children .sub-menu {
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    background: #153450;
    text-transform: uppercase;
}

.header .menu #access>ul>li.menu-item-has-children .sub-menu a {
    color: #000000;
    display: flex;
    padding: 0;
    line-height: 30px;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    transition: all .35s ease-in;
}
.header .menu #access>ul>li.menu-item-has-children .sub-menu li:not(:last-child) {
    border-bottom: 1px solid #767676 !important;
}

.header .menu #access>ul>li.menu-item-has-children .sub-menu li {
    padding: 5px 12px;
}
.header .menu #access>ul>li.menu-item-has-children .sub-menu li:hover a {
    color: var(--primaryColor);
}

.header .menu>#access>ul>li .sub-menu.mega-menu>.list-item>ul>li>a:hover,
.header .menu #access>ul>li .sub-menu>ul>li>a:hover,
.header .item-right a:hover,
.header .menu #access>ul>li:hover>a {
    color: var(--primaryColor);
}

/* banner section */
.banner-section {
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
    height: 700px;
    width: 100%;
    display: block;
}

.mobile-menu-head,
.mobile-menu-trigger {
    display: none;
}

.menu-main {
    text-align: center;
}

.menu-item-has-children:after {
    content: "\f078";
    font-family: "Font Awesome 5 Pro";
    font-weight: 400;
    font-size: 14px;
}

.menu-item-has-children:hover::after {
    color: var(--primaryColor);
}

/*responsive*/
@media (max-width: 1199px) {
    .header .item-center {
        order: 3;
        flex: 0 0 100%;
    }

    .header .item-left,
    .header .item-right {
        flex: 0 0 auto;
    }

    .v-center {
        justify-content: space-between;
    }

    .header .mobile-menu-trigger {
        display: flex;
        height: 30px;
        width: 30px;
        margin-left: 15px;
        cursor: pointer;
        align-items: center;
        justify-content: center;
    }

    .header .mobile-menu-trigger span {
        display: block;
        height: 2px;
        background-color: #333333;
        width: 24px;
        position: relative;
    }

    .header .mobile-menu-trigger span:before,
    .header .mobile-menu-trigger span:after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #333333;
    }

    .header .mobile-menu-trigger span:before {
        top: -6px;
    }

    .header .mobile-menu-trigger span:after {
        top: 6px;
    }

    .header .item-right {
        align-items: center;
        width: 25px;
    }

    .header-item.item-left {
        width: 230px;
    }

    .header .menu {
        position: fixed;
        width: 320px;
        background-color: #ffffff;
        left: 0;
        top: 0;
        height: 100%; 
        transform: translate(-100%);
        transition: all 0.5s ease;
        z-index: 1099;
    }

    .header .menu.active {
        transform: translate(0%);
    }

    .header .menu #access>ul>li {
        line-height: 1;
        margin: 0;
        display: block;
    }

    .header .menu #access>ul>li>a,
    .header .menu #access>ul>li .sub-menu li {
        line-height: 50px;
        height: 50px;
        padding: 0 50px 0 15px;
        text-align: left;
        display: block;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        text-transform: uppercase;
        color: #000;
        font-weight: 600;
        padding-right: 15px;
        padding-left: 15px;
        font-size: 12px;
    }

    .header .menu #access>ul>li>a .header .menu>#access>ul>li {
        display: block;
        margin-left: 0;
    }

    .header .menu #access>ul>li>a i {
        position: absolute;
        height: 50px;
        width: 50px;
        top: 0;
        right: 0;
        text-align: center;
        line-height: 50px;
        transform: rotate(-90deg);
    }

    .header .menu .mobile-menu-head {
        display: flex;
        height: 50px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 501;
        position: sticky;
        background-color: #ffffff;
        top: 0;
    }

    .header .menu .mobile-menu-head .go-back {
        height: 50px;
        width: 50px;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        cursor: pointer;
        line-height: 50px;
        text-align: center;
        color: #000000;
        font-size: 16px;
        display: none;
    }

    .header .menu .mobile-menu-head.active .go-back {
        display: block;
    }

    .header .menu .mobile-menu-head .current-menu-title {
        font-size: 14px;
        font-weight: bold;
        color: #000000;
        text-transform: uppercase;
    }

    .header .menu .mobile-menu-head .mobile-menu-close {
        height: 50px;
        width: 50px;
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        cursor: pointer;
        line-height: 50px;
        text-align: center;
        color: #000000;
        font-size: 25px;
    }

    .header .menu .menu-main {
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .header .menu #access>ul>li .sub-menu.mega-menu,
    .header .menu #access>ul>li .sub-menu {
        visibility: visible;
        opacity: 1;
        position: absolute;
        box-shadow: none;
        margin: 0;
        padding: 15px;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-top: 50px;
        max-width: none;
        min-width: auto;
        display: none;
        transform: translateX(0%);
        overflow-y: auto;
    }

    .header .menu #access>ul>li .sub-menu.active {
        display: block;
        padding-left: 0;
        padding-right: 0;
    }

    @keyframes slideLeft {
        0% {
            opacity: 0;
            transform: translateX(100%);
        }

        100% {
            opacity: 1;
            transform: translateX(0%);
        }
    }

    @keyframes slideRight {
        0% {
            opacity: 1;
            transform: translateX(0%);
        }

        100% {
            opacity: 0;
            transform: translateX(100%);
        }
    }

    .header .menu>#access>ul>li .sub-menu.mega-menu-column-4>.list-item img {
        margin-top: 0;
    }

    .header .menu>#access>ul>li .sub-menu.mega-menu-column-4>.list-item.text-center .title {
        margin-bottom: 20px;
    }

    .header .menu>#access>ul>li .sub-menu.mega-menu-column-4>.list-item.text-center:last-child .title {
        margin-bottom: 0px;
    }

    .header .menu #access>ul>li .sub-menu.mega-menu-column-4>.list-item {
        flex: 0 0 100%;
        padding: 0px;
    }

    .header .menu #access>ul>li .sub-menu>ul>li>a,
    .header .menu>#access>ul>li .sub-menu.mega-menu>.list-item>ul>li>a {
        display: block;
    }

    .header .menu #access>ul>li .sub-menu.mega-menu>.list-item>ul {
        margin-bottom: 15px;
    }

    .menu-overlay {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.5);
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1098;
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s ease;
    }

    .menu-overlay.active {
        visibility: visible;
        opacity: 1;
    }

    .menu-item-has-children:after {
        content: "\f054";
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
        width: 50px;
        height: 50px;
        font-weight: 600;
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease-in-out;
    }

    .menu-item-has-children {
        display: flex !important;
        align-items: center;
        justify-content: space-between;
    }

    .menu-item-has-children a {
        width: calc(100% - 50px) !important;
    }

    .header .menu #access>ul>li .sub-menu li {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
}